.slide-container {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.carousel {
  width: 100%;
  overflow: hidden;
}

.slide {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nav-dot {
  display: block;
  background-color: #fff;
  border: 1px solid #000;
  height: 10px;
  border-radius: 50%;
  width: 10px;
  margin-left: 20px;
  margin-right: 20px;
}
.carousel-nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav-slide-2:checked ~ .nav-dot-2 {
  background-color: #000;
}

#nav-slide-1:checked ~ .nav-dot-1 {
  background-color: #000;
}

#nav-slide-1,
#nav-slide-2 {
  display: none;
}

.chevron-left {
  display: inline-block;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  height: 7px;
  width: 7px;
  transform: rotate(130deg);
}

.chevron-right {
  display: inline-block;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  height: 7px;
  width: 7px;
  transform: rotate(-45deg);
}
